<body>
    {{>header_accueil}}
    <div id="div-container-accueil">
        <div id="div-header-accueil">
            <div id="div-gradient">
                <div id="gradient-header-accueil"></div>
            </div>
            <h1 id="h1-accueil" class="grid-row-1-2">Digitalise, Economise, Revolutionise</h1>
            <p id="adriz-presentation" class="grid-row-2-3">Découvrez la puissance et la richesse que renferme internet et participons, ensemble, à l'ère de la révolution digital.</p>
            <img id="digital-img" src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fdigital.png?alt=media&token=5d4c243c-d68b-4c61-86c7-d1b6f2bac0e5" loading="lazy" alt="Digitale"/>
            <div id="div-button" class="grid-row-3-4">
                <input id="button-rejoindre-header" class="header-button grid-col-1-2" type="button" value="Rejoindre">
                <input id="button-contacter-header" class="header-button grid-col-2-3" type="button" value="Contacter">
            </div>
            <div id="div-smma-presentation" class="grid-row-4-5">
                <p class="smma-presentation grid-row-1-2" id="smma-definition"><span class="bold">AdRiz</span> est une Agence de Marketing Digitale sur Medias Sociaux (<span class="bold">SMMA</span>).</p>
                <p class="smma-presentation grid-row-2-3" id="smma-role">On expose vos produits, votre service ou votre entreprise de façon <span class="bold">ciblé</span> afin d’<span class="bold">attirer</span> et <span class="bold">fidéliser</span> le plus de clients possibles.</p>
            </div>
        </div>
        <div id="div-service-1">
            <h2 id="h2-service-1" class="grid-row-1-2">Notre Rôle</h2>
            <img id="img-service-1" src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fmarketing.jpg?alt=media&token=9a8308d1-8a32-4952-bf78-5f93d2fce48d" loading="lazy" alt="Digitale Marketing"/>
            <div id="div-description-service-1">
                <img id="icon-service-1-1" class="icon-service-1 grid-col-1-2 grid-row-1-2" src="images/digitalise-icon.png" loading="lazy" alt="Digitaliser"/>
                <p id="p-service-1-1" class="p-service p-service-1 grid-col-2-3 grid-row-1-2">Digitaliser votre marketing</p>
                <img id="icon-service-1-2" class="icon-service-1 grid-col-1-2 grid-row-2-3" src="images/traffic-icon.png" loading="lazy" alt="Traffic"/>
                <p id="p-service-1-2" class="p-service p-service-1 grid-col-2-3 grid-row-2-3">Booster votre trafic</p>
                <img id="icon-service-1-3" class="icon-service-1 grid-col-1-2 grid-row-3-4" src="images/augmenter-icon.png" loading="lazy" alt="Clients"/>
                <p id="p-service-1-3" class="p-service p-service-1 grid-col-2-3 grid-row-3-4">Augmenter votre nombre de clients</p>
                <img id="icon-service-1-4" class="icon-service-1 grid-col-1-2 grid-row-4-5" src="images/monde-icon.png" loading="lazy" alt="Prospecter"/>
                <p id="p-service-1-4" class="p-service p-service-1 grid-col-2-3 grid-row-4-5">Prospecter dans le monde entier</p>
            </div>
        </div>
        <div id="div-service-2">
            <h2 id="h2-service-2" class="grid-row-1-2 grid-col-3-4">Nos Objectifs</h2>
            <div id="div-img-service-2">
                <img id="img-service-2" src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fdigital.jpg?alt=media&token=9d142d13-d005-4241-bd95-0d2375dffbd3" loading="lazy" alt="Digitale Marketing"/>
            </div>
            <div id="div-description-service-2">
                <img id="icon-service-2-1" class="icon-service-2 grid-col-1-2 grid-row-1-2" src="images/objectif-icon.png" loading="lazy" alt="Objectif"/>
                <p id="p-service-2-1" class="p-service p-service-2 grid-col-2-3 grid-row-1-2">Atteindre vos objectifs plus rapidement</p>
                <img id="icon-service-2-2" class="icon-service-2 grid-col-1-2 grid-row-2-3" src="images/revenus-icon.png" loading="lazy" alt="Revenus"/>
                <p id="p-service-2-2" class="p-service p-service-2 grid-col-2-3 grid-row-2-3">Augmenter vos revenus</p>
                <img id="icon-service-2-3" class="icon-service-2 grid-col-1-2 grid-row-3-4" src="images/temps-icon.png" loading="lazy" alt="Temps"/>
                <p id="p-service-2-3" class="p-service p-service-2 grid-col-2-3 grid-row-3-4">Faire gagner beaucoup de temps</p>
                <img id="icon-service-2-4" class="icon-service-2 grid-col-1-2 grid-row-4-5" src="images/dépenses-icon.png" loading="lazy" alt="Dépenses"/>
                <p id="p-service-2-4" class="p-service p-service-2 grid-col-2-3 grid-row-4-5">Optimiser vos dépenses</p>
            </div>
        </div>
        <div id="div-contact">
            <h2 id="h2-question" class="grid-col-1-2">Des questions ?</h2>
            <input id="input-contact" type="button" value="Nous Contacter">
        </div>
        <div id="div-reseaux-sociaux">
            <div id="div-facebook-ads" class="div-reseaux-content">
                <img id="img-facebook-ads" class="img-reseaux-sociaux grid-col-1-2" src="images/facebook.png" loading="lazy" alt="Facebook Ads">
                <div id="div-description-facebook" class="div-description-reseaux grid-col-1-2">
                    <h3 id="h3-facebook-ads" class="h3-reseaux-sociaux grid-row-1-2">Facebook Ads</h3>
                    <hr id="hr-facebook-ads" class="hr-reseaux-sociaux grid-row-2-3">
                    <p id="p-facebook-ads" class="p-reseaux-sociaux grid-row-3-4">Avec plus de <span class="bold">2 milliards</span> d'utilisateurs actifs au quotidien, prospectez sur le plus gros réseau social au monde.</p>
                </div>
            </div>
            <div id="div-youtube-advertising" class="div-reseaux-content">
                <img id="img-youtube-advertising" class="img-reseaux-sociaux grid-col-1-2" src="images/youtube.png" loading="lazy" alt="YouTube Advertising">
                <div id="div-description-youtube" class="div-description-reseaux grid-col-1-2">
                    <h3 id="h3-youtube-advertising" class="h3-reseaux-sociaux grid-row-1-2">YouTube Advertising</h3>
                    <hr id="hr-youtube-advertising" class="hr-reseaux-sociaux grid-row-2-3">
                    <p id="p-youtube-advertising" class="p-reseaux-sociaux grid-row-3-4">Les jeunes de 18 ans et plus passent plus de temps à regarder YouTube que n'importe quel réseau de télévision.</p>
                </div>
            </div>
            <div id="div-instagram-business" class="div-reseaux-content">
                <img id="img-instagram-business" class="img-reseaux-sociaux grid-col-1-2" src="images/instagram.png" loading="lazy" alt="Instagram Business">
                <div id="div-description-instagram" class="div-description-reseaux grid-col-1-2">
                    <h3 id="h3-instagram-business" class="h3-reseaux-sociaux grid-row-1-2">Instagram Business</h3>
                    <hr id="hr-instagram-business" class="hr-reseaux-sociaux grid-row-2-3">
                    <p id="p-instagram-business" class="p-reseaux-sociaux grid-row-3-4"><span class="bold">90 % des comptes</span> suivent une entreprise sur Instagram. Pourquoi pas la vôtre ?</p>
                </div>
            </div>
            <div id="div-linkedin-ads" class="div-reseaux-content">
                <img id="img-linkedin-ads" class="img-reseaux-sociaux grid-col-1-2" src="images/linkedin.png" loading="lazy" alt="LinkedIn Ads">
                <div id="div-description-linkedin" class="div-description-reseaux grid-col-1-2">
                    <h3 id="h3-linkedin-ads" class="h3-reseaux-sociaux grid-row-1-2">LinkedIn Ads</h3>
                    <hr id="hr-linkedin-ads" class="hr-reseaux-sociaux grid-row-2-3">
                    <p id="p-linkedin-ads" class="p-reseaux-sociaux grid-row-3-4">Prospectez sur le plus gros réseau professionnel au monde et construisez vous un <span class="bold">branding</span> auprès des autres entreprises.</p>
                </div>
            </div>
            <div id="div-google-ads" class="div-reseaux-content">
                <img id="img-google-ads" class="img-reseaux-sociaux grid-col-1-2" src="images/google.png" loading="lazy" alt="Google Ads">
                <div id="div-description-google" class="div-description-reseaux grid-col-1-2">
                    <h3 id="h3-google-ads" class="h3-reseaux-sociaux grid-row-1-2">Google Ads</h3>
                    <hr id="hr-google-ads" class="hr-reseaux-sociaux grid-row-2-3">
                    <p id="p-google-ads" class="p-reseaux-sociaux grid-row-3-4">Avec <span class="bold">52 %</span> de ses internautes qui cliquent sur des liens sponsorisés, Google est <span class="bold">le meilleur tremplin</span> en terme de visibilité et d’acquisition de trafic</p>
                </div>
            </div>
            <div id="div-email-marketing" class="div-reseaux-content">
                <img id="img-email-marketing" class="img-reseaux-sociaux grid-col-1-2" src="images/email.png" loading="lazy" alt="Email Marketing">
                <div id="div-description-email" class="div-description-reseaux grid-col-1-2">
                    <h3 id="h3-email-marketing" class="h3-reseaux-sociaux grid-row-1-2">Email Marketing</h3>
                    <hr id="hr-email-marketing" class="hr-reseaux-sociaux grid-row-2-3">
                    <p id="p-email-marketing" class="p-reseaux-sociaux grid-row-3-4">Dans de nombreuses études faites auprès des responsables marketings, l'email est cité comme le levier assurant le <span class="bold">meilleur retour sur investissement</span>.</p>
                </div>
            </div>
        </div>
        <div id="div-more-info">
            <input type="button" value="En savoir plus" id="input-more-info">
        </div>
        <form id="form-newsletter">
            <label id="label-newsletter" class="grid-row-1-2" for="input-email-newsletter">Entrez votre <span class="bold">adresse email</span> pour être informé de toutes les nouvelles fonctionnalités d’<span class="bold">AdRiz</span>.</label>
            <input id="input-email-newsletter" class="grid-row-2-3 grid-col-1-2" type="email" placeholder="Votre Adresse Email" maxlength="99" autocomplete="email" required>
            <input id="input-send-newsletter" class="grid-row-2-3 grid-col-2-3" type="submit" value="Envoyer"/>
            <p id="validation-newsletter" class="grid-row-3-4">Merci de vous être inscrit à la newsletter.</p>
            <p id="error-interne-newsletter" class="error-newsletter grid-row-3-4">Vous êtes déjà inscrit à la newsletter.</p>
        </form>
        <div id="div-join-us">
            <input id="input-join-us" type="button" value="Nous Rejoindre"/>
        </div>
    </div>
    {{>footer}}
</body>
