<body>
    {{>header_all}}
    <div id="header-agence">
        <div id="div-blue-meeting"></div>
        <img id="gif-meeting" src="/public/videos/meeting.gif" alt="Meeting"/>
        <div id="div-meeting-content">
            <div id="div-titre-agence" class="grid-row-1-2">
                <h1 id="h1-titre-agence" class="h1-agence grid-col-1-2" hidden>AdRiz</h1>
                <span id="span-its" class="span-titre-agence grid-col-2-3" hidden>its</span>
                <span id="span-titre-our" class="span-titre-switch span-titre-agence grid-col-3-4 grid-row-1-2" hidden>OUR</span>
                <span id="span-titre-your" class="span-titre-switch span-titre-agence grid-col-3-4 grid-row-1-2" hidden>YOUR</span>
                <hr id="hr-titre-agence" class="grid-col-3-4" hidden>
            </div>
            <div id="div-sous-titre" class="grid-row-2-3">
                <h1 id="h1-titre-agence-1" class="h1-agence h1-sous-titre grid-row-1-2 grid-col-2-3" hidden>S</h1>
                <span id="span-titre-1-1" class="span-sous-titre grid-row-1-2 grid-col-3-4" hidden>tory</span>
                <span id="span-titre-1-2" class="span-sous-titre grid-row-1-2 grid-col-3-4" hidden>ocial</span>
                <h1 id="h1-titre-agence-2" class="h1-agence h1-sous-titre grid-row-2-3 grid-col-2-3" hidden>M</h1>
                <span id="span-titre-2-1" class="span-sous-titre grid-row-2-3 grid-col-3-4" hidden>arketing</span>
                <span id="span-titre-2-2" class="span-sous-titre grid-row-2-3 grid-col-3-4" hidden>edia</span>
                <h1 id="h1-titre-agence-3" class="h1-agence h1-sous-titre grid-row-3-4 grid-col-2-3" hidden>M</h1>
                <span id="span-titre-3-1" class="span-sous-titre grid-row-3-4 grid-col-3-4" hidden>ission</span>
                <span id="span-titre-3-2" class="span-sous-titre grid-row-3-4 grid-col-3-4" hidden>arketing</span>
                <h1 id="h1-titre-agence-4" class="h1-agence h1-sous-titre grid-row-4-5 grid-col-2-3" hidden>A</h1>
                <span id="span-titre-4-1" class="span-sous-titre grid-row-4-5 grid-col-3-4" hidden>dventure</span>
                <span id="span-titre-4-2" class="span-sous-titre grid-row-4-5 grid-col-3-4" hidden>gency</span>
            </div>
        </div>
    </div>
    <div id="div-container-agence">
        <div id="presentation-service-1">
            <div id="div-digitale">
                <p id="p-digitale" style="display: none">Dans un monde de plus en plus digitalisé, les générations évoluent chaque année pour s’adapter.</p>
                <img id="gif-digitale" src="/public/videos/digitale.gif" alt="Digitale" hidden/>
            </div>
            <div id="div-internet" hidden>
                <img id="gif-internet" src="/public/videos/internet.gif" alt="Internet" hidden/>
            </div>
            <div id="div-texte-internet" class="grid-row-4-5" hidden>
                <p id="p-internet" hidden>Aujourd’hui, plus de <span class="bold">57%</span> de la population mondiale utilisent internet.</p>
            </div>
        </div>
        <div id="presentation-service-2">
            <div id="div-texte-reseaux" hidden>
                <p id="p-reseaux" hidden>Pour chercher une information sur Google, se balader sur Facebook, ou encore pour se divertir sur YouTube, nous passons en moyenne presque <span class="bold">6 heures par jour</span> à naviguer sur le web.</p>
            </div>
            <div id="div-gif-reseaux" class="grid-col-2-3" hidden>
                <img id="gif-reseaux" src="/public/videos/reseaux.gif" alt="Internet" hidden/>
            </div>
        </div>
        <div id="presentation-service-3">
            <div id="div-gif-travail" hidden>
                <img id="gif-travail" src="/public/videos/travail.gif" alt="Travail" hidden/>
            </div>
            <div id="div-texte-travail" hidden>
                <p id="p-travail" hidden>Seulement, internet est un outil très puissant et encore très récent dont beaucoup de personnes et d’entreprises n’ont pas les connaissances nécessaires pour l’utiliser à leur avantage.</p>
            </div>
        </div>
        <div id="presentation-service-4">
            <div id="div-revolution">
                <img id="gif-revolution" src="/public/videos/revolution.gif" alt="Révolution" hidden/>
                <p id="p-revolution" hidden>Nous sommes à l’ère d’une révolution : la révolution de la digitalisation. Plus les années passes et plus cette révolution comptera d’acteurs qui ne feront que l’amplifier. </p>
            </div>
            <div id="div-gif-valeur" hidden>
                <img id="gif-valeur" src="/public/videos/meeting.gif" alt="Valeurs" hidden/>
            </div>
            <div id="div-texte-valeur" hidden>
                <p id="p-valeur" hidden>Chez AdRiz, nous pensons que le <span class="bold">partage</span> et l’<span class="bold">entraide</span> est une nécessité pour établir une évolution constante et commune.</p>
            </div>
        </div>
        <div id="presentation-service-5">
            <img id="gif-adriz" src="/public/videos/adriz.gif" alt="AdRiz" hidden/>
            <div id="div-texte-adriz" hidden>
                <p id="p-adriz" hidden>Dans un monde qui évolue aussi rapidement que le nôtre, il est donc dans notre devoir de partager notre expérience dans l’univers du digital afin de permettre à n’importe qui d’avoir la clé permettant d’accéder à <span class="bold">la richesse</span> et <span class="bold">la puissance</span> que renferme internet.</p>
            </div>
        </div>
        <div id="service-rejoindre">
            <p id="p-rejoindre" class="grid-row-1-2" hidden>Écrivons ensemble, l'histoire de demain</p>
            <hr id="hr-service-adriz" class="grid-row-2-3" hidden/>
            <input id="input-rejoindre" class="grid-row-3-4" type="button" value="Rejoignez Nous" hidden>
        </div>
    </div>
    {{>footer}}
</body>