<body>
{{>cookie}}
{{>header_all}}
<div id="header-agence">
    <div id="div-blue-meeting"></div>
    <video id="video-meeting" autoplay loop playsinline muted>
        <source id="gif-meeting"
                src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Fmeeting.mp4?alt=media&token=057fecb3-d220-4842-acb2-5760d83a31f3"
                type="video/mp4"/>
    </video>
    <div id="div-meeting-content">
        <div id="div-titre-agence" class="grid-row-1-2">
            <h1 id="h1-titre-agence" class="h1-agence grid-col-1-2">AdRiz</h1>
            <span id="span-its" class="span-titre-agence grid-col-2-3">its</span>
            <span id="span-titre-our" class="span-titre-switch span-titre-agence grid-col-3-4 grid-row-1-2">OUR</span>
            <span id="span-titre-your" class="span-titre-switch span-titre-agence grid-col-3-4 grid-row-1-2">YOUR</span>
            <hr id="hr-titre-agence" class="grid-col-3-4">
        </div>
        <div id="div-sous-titre" class="grid-row-2-3">
            <h1 id="h1-titre-agence-1" class="h1-agence h1-sous-titre grid-row-1-2 grid-col-2-3">S</h1>
            <span id="span-titre-1-1" class="span-sous-titre span-sous-titre-1 grid-row-1-2 grid-col-3-4">tory</span>
            <span id="span-titre-1-2" class="span-sous-titre span-sous-titre-2 grid-row-1-2 grid-col-3-4">ocial</span>
            <h1 id="h1-titre-agence-2" class="h1-agence h1-sous-titre grid-row-2-3 grid-col-2-3">M</h1>
            <span id="span-titre-2-1"
                  class="span-sous-titre span-sous-titre-1 grid-row-2-3 grid-col-3-4">arketing</span>
            <span id="span-titre-2-2" class="span-sous-titre span-sous-titre-2 grid-row-2-3 grid-col-3-4">edia</span>
            <h1 id="h1-titre-agence-3" class="h1-agence h1-sous-titre grid-row-3-4 grid-col-2-3">M</h1>
            <span id="span-titre-3-1" class="span-sous-titre span-sous-titre-1 grid-row-3-4 grid-col-3-4">ission</span>
            <span id="span-titre-3-2"
                  class="span-sous-titre span-sous-titre-2 grid-row-3-4 grid-col-3-4">arketing</span>
            <h1 id="h1-titre-agence-4" class="h1-agence h1-sous-titre grid-row-4-5 grid-col-2-3">A</h1>
            <span id="span-titre-4-1"
                  class="span-sous-titre span-sous-titre-1 grid-row-4-5 grid-col-3-4">dventure</span>
            <span id="span-titre-4-2" class="span-sous-titre span-sous-titre-2 grid-row-4-5 grid-col-3-4">gency</span>
        </div>
    </div>
</div>
<div id="div-container-agence">
    <div id="presentation-service-1">
        <div id="div-digital">
            <video id="video-digital" autoplay loop playsinline muted>
                <source id="gif-digital"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Fdigital.mp4?alt=media&token=b73b6934-dcf2-4a3d-a217-6c148c4d01d1"
                        type="video/mp4"/>
            </video>
            <p id="p-digital">Dans un monde de plus en plus digitalisé, les générations évoluent chaque année pour
                s’adapter.</p>
        </div>
        <div id="div-internet">
            <video id="video-internet" autoplay loop playsinline muted>
                <source id="gif-internet"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Finternet.mp4?alt=media&token=c3a52a7e-0360-4725-b801-11fb69acab14"
                        type="video/mp4"/>
            </video>
        </div>
        <div id="div-texte-internet" class="grid-row-4-5">
            <p id="p-internet">Aujourd’hui, plus de <span class="bold">57 %</span> de la population mondiale utilisent
                internet.</p>
        </div>
    </div>
    <div id="presentation-service-2">
        <div id="div-texte-reseaux">
            <p id="p-reseaux">Pour chercher une information sur Google, discuter sur Facebook, ou pour se
                divertir sur YouTube, nous passons en moyenne <span class="bold">6 heures par jour</span> à
                naviguer sur le web.</p>
        </div>
        <div id="div-gif-reseaux">
            <video id="video-reseaux" autoplay loop playsinline muted>
                <source id="gif-reseaux"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Freseaux.mp4?alt=media&token=1293cbb5-d735-4bb0-9b24-5baaf7642d32"
                        type="video/mp4">
            </video>
        </div>
    </div>
    <div id="presentation-service-3">
        <div id="div-gif-travail">
            <video id="video-travail" autoplay loop playsinline muted>
                <source id="gif-travail"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Ftravail.mp4?alt=media&token=6ecc16e9-cd2b-4102-aaa6-b17456c235d3"
                        type="video/mp4"/>
            </video>
        </div>
        <div id="div-texte-travail">
            <p id="p-travail">Seulement, internet est un outil très puissant et encore très récent dont beaucoup de
                personnes et d’entreprises n’ont pas les connaissances nécessaires pour l’utiliser à leur avantage.</p>
        </div>
    </div>
    <div id="presentation-service-4">
        <div id="div-revolution">
            <video id="video-revolution" autoplay loop playsinline muted>
                <source id="gif-revolution"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Frevolution.mp4?alt=media&token=d8c9b7e7-a37b-477b-aea0-56e40478c2d9"
                        type="video/mp4"/>
            </video>
            <p id="p-revolution">Nous sommes à l’ère d’une révolution : la révolution de la digitalisation. Plus les
                années passent et plus cette révolution comptera d’acteurs qui ne feront que l’amplifier. </p>
        </div>
        <div id="div-gif-valeur">
            <video id="video-valeur" autoplay loop playsinline muted>
                <source id="gif-valeur"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Fmeeting.mp4?alt=media&token=057fecb3-d220-4842-acb2-5760d83a31f3"
                        type="video/mp4"/>
            </video>
        </div>
        <div id="div-texte-valeur">
            <p id="p-valeur">Chez AdRiz, nous pensons que le <span class="bold">partage</span> et l’<span class="bold">entraide</span>
                sont une nécessité pour établir une évolution constante et commune.</p>
        </div>
    </div>
    <div id="presentation-service-5">
        <video id="video-adriz" autoplay loop playsinline muted>
            <source id="gif-adriz"
                    src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Fadriz.mp4?alt=media&token=6f9d6744-152f-4d8b-8b45-64dcacdf3bfa"/>
        </video>
        <div id="div-texte-adriz">
            <p id="p-adriz">Il est donc dans notre devoir de vous partager notre expérience dans l’univers du digital
                afin de permettre à n’importe qui d’avoir la clé permettant d’accéder à <span
                        class="bold">la richesse</span> et <span class="bold">la puissance</span> que renferme internet.
            </p>
        </div>
    </div>
    <div id="service-rejoindre">
        <p id="p-rejoindre" class="grid-row-1-2">Écrivons ensemble, l'histoire de demain</p>
        <hr id="hr-service-adriz" class="grid-row-2-3"/>
        <input id="input-rejoindre" class="grid-row-3-4" type="button" value="Rejoignez Nous">
    </div>
</div>
{{>footer}}
</body>