<body>
    {{>header_all}}
    <h1 id="h1-contact" hidden>Nous Contacter</h1>
    <form id="form-contact" method="post">
        <div id="div-contact-nom" class="div-contact grid-row-1-2">
            <label id="label-nom" class="label-form-contact grid-row-1-2" for="input-nom" hidden>Nom</label>
            <input id="input-nom" class="input-form-contact grid-row-2-3" type="text" name="nom" hidden>
            <span id="error-nom" class="error-contact grid-row-3-4" hidden>Veuillez entrer un nom correct.</span>
        </div>

        <div id="div-contact-prenom" class="div-contact grid-row-2-3">
            <label id="label-prenom" class="label-form-contact grid-row-1-2" for="input-prenom" hidden>Prénom</label>
            <input id="input-prenom" class="input-form-contact grid-row-2-3" type="text" name="prenom" hidden>
            <span id="error-prenom" class="error-contact grid-row-3-4" hidden>Veuillez entrer un prénom correct.</span>
        </div>

        <div id="div-contact-mail" class="div-contact grid-row-3-4">
            <label id="label-mail" class="label-form-contact grid-row-1-2" for="input-mail" hidden>Adresse Mail</label>
            <input id="input-mail" class="input-form-contact grid-row-2-3" type="text" name="mail" placeholder="exemple@hotmail.fr" hidden>
            <span id="error-mail" class="error-contact grid-row-3-4" hidden>Veuillez entrer une adresse mail correcte.</span>
        </div>

        <div  id="div-contact-message" class="grid-row-4-5">
            <label id="label-message" class="label-form-contact grid-row-1-2" for="text-message" hidden>Message</label>
            <textarea id="text-message" class="input-form-contact grid-row-2-3" name="message" placeholder="Votre message..." hidden></textarea>
            <span id="error-message" class="grid-row-3-4" hidden>Veuillez entrer un message correct.</span>
        </div>

        <input id="input-form-submit" class="grid-row-5-6" type="submit" value="Envoyer" hidden>

        <span id="error-formulaire-contact" class="error-contact grid-row-6-7" hidden>Une erreure s'est produite. Veuillez réessayer ulterieurement.</span>
        <span id="validation-formulaire-contact" class="grid-row-6-7" hidden>Votre message a bien été envoyé.</span>
    </form>
    {{>footer}}
</body>
