<div id="div-container-cookie">
    <div id="presentation-cookie" class="div-container-cookie">
        <p id="p-cookie-title" class="p-cookie-title grid-row-1-2 grid-col-1-2">Utilisation des cookies et collecte des données
            personnelles</p>
        <p id="p-cookie-presentation" class="p-cookie grid-row-2-3 grid-col-1-2">AdRiz utilise des cookies pour vous offrir le
            meilleur
            service possible. Vos données sont envoyées de façon anonyme, nous permettant d'adapter continuellement
            notre site web.</p>
        <div id="div-input-cookie" class="div-input-cookie">
            <input id="accepte-cookie" class="input-cookie input-cookie-1 grid-col-1-2" type="button"
                   value="Accepter">
            <input id="plus-cookie" class="input-cookie input-cookie-2 grid-col-2-3" type="button"
                   value="En Savoir Plus">
        </div>
    </div>
    <div id="div-container-cookie-plus">
        <div id="div-background-cookie"></div>
        <div id="div-cookie">
            <div id="div-plus-cookie" class="div-container-cookie-plus">
                <p id="p-cookie-plus-title" class="p-cookie-title grid-row-1-2">Politique des cookies sur AdRiz</p>
                <div id="div-cookie-plus" class="grid-rwo-2-3">
                    <p class="p-cookie-plus">Il s'agit de la Politique relative aux cookies d'AdRiz, accessible depuis
                        https://adriz.fr</p>
                    <p class="p-cookie-sous-title">Que sont les cookies</p>
                    <p class="p-cookie-plus">Les cookies sont de petits fichiers qui sont téléchargés sur votre ordinateur
                        pour
                        améliorer votre
                        expérience. Cette
                        page décrit les informations qu'ils recueillent, comment nous les utilisons et pourquoi nous
                        avons
                        parfois
                        besoin de stocker ces cookies. Nous partagerons également comment vous pouvez empêcher ces
                        cookies
                        d'être
                        stockés, mais cela peut empêcher le bon fonctionnement de certains éléments des fonctionnalités
                        du
                        site.</p>
                    <p class="p-cookie-sous-title">Comment nous utilisons les cookies</p>
                    <p class="p-cookie-plus">
                        Nous utilisons des cookies pour diverses raisons détaillées ci-dessous. Malheureusement, dans la
                        plupart des
                        cas, il n'y a pas d'options standard pour désactiver les cookies sans désactiver complètement
                        les
                        fonctionnalités et fonctionnalités qu'ils ajoutent à ce site. Il est recommandé de laisser tous
                        les
                        cookies
                        si vous ne savez pas si vous en avez besoin ou non au cas où ils seraient utilisés pour fournir
                        un
                        service
                        que vous utilisez.</p>
                    <p class="p-cookie-sous-title">Désactiver les cookies</p>
                    <p class="p-cookie-plus">
                        Vous pouvez empêcher l'installation de cookies en ajustant les paramètres de votre navigateur
                        (consultez
                        l'aide de votre navigateur pour savoir comment procéder). Sachez que la désactivation des
                        cookies
                        affectera
                        la fonctionnalité de ce site Web et de nombreux autres sites Web que vous visitez. La
                        désactivation
                        des
                        cookies entraîne généralement la désactivation de certaines fonctionnalités et fonctionnalités
                        de ce
                        site.
                        Par conséquent, il est recommandé de ne pas désactiver les cookies.
                    </p>
                    <p class="p-cookie-sous-title">Les cookies que nous installons</p>
                    <p class="bold p-cookie-plus">Cookies liés aux newsletters par e-mail</p>
                    <p class="p-cookie-plus">
                        Ce site propose des services d'abonnement à la newsletter ou par e-mail et des cookies
                        peuvent être
                        utilisés pour vous rappeler si vous êtes déjà inscrit et si vous souhaitez afficher
                        certaines
                        notifications qui ne sont valables que pour les utilisateurs abonnés / désabonnés.
                    </p>
                    <p class="bold p-cookie-plus">Cookies liés aux formulaires</p>
                    <p class="p-cookie-plus">
                        Lorsque vous soumettez des données via un formulaire tel que ceux trouvés sur les pages de
                        contact
                        ou les formulaires de commentaires, les cookies peut être configuré pour mémoriser les
                        détails de
                        votre utilisateur pour une correspondance future.
                    </p>
                    <p class="bold p-cookie-plus">Cookies de préférences du site</p>
                    <p class="p-cookie-plus">
                        Afin de vous offrir une excellente expérience sur ce site, nous fournissons la
                        fonctionnalité pour
                        définir vos préférences sur la façon dont ce site fonctionne lorsque vous l'utilisez. Afin
                        de nous
                        souvenir de vos préférences, nous devons définir des cookies afin que ces informations
                        puissent être
                        appelées chaque fois que vous interagissez avec une page est affectée par vos
                        préférences.</p>
                    <p class="p-sous-cookies p-cookie-sous-title">Cookies tiers</p>
                    <p class="p-cookie-plus">Dans certains cas particuliers, nous utilisons également des cookies fournis par
                        des
                        tiers de
                        confiance. La
                        section suivante détaille les cookies tiers que vous pourriez rencontrer via ce site.</p>
                    <p class="p-cookie-plus">Ce site utilise Google Analytics, l'une des solutions d'analyse les plus
                        répandues
                        et les
                        plus
                        fiables sur le Web, pour nous aider à comprendre comment vous utilisez le site et comment
                        nous
                        pouvons améliorer votre expérience. Ces cookies peuvent suivre des éléments tels que le
                        temps que
                        vous passez sur le site et les pages que vous visitez afin que nous puissions continuer à
                        produire
                        un contenu attrayant.</p>
                    <p class="p-cookie-plus">Pour plus d'informations sur les cookies de Google Analytics, consultez la page
                        officielle de
                        Google
                        Analytics.</p>
                    <p class="p-cookie-plus">
                        Des analyses tierces sont utilisées pour suivre et mesurer l'utilisation de ce site afin que
                        nous
                        puissions continuer à produire un contenu attrayant. Ces cookies peuvent suivre des éléments
                        tels
                        que le temps que vous passez sur le site ou les pages que vous visitez, ce qui nous aide à
                        comprendre comment nous pouvons améliorer le site pour vous.</p>

                    <p class="p-cookie-plus">
                        Lorsque un visiteur s'intéresse à notre service, il est important pour nous de comprendre
                        les
                        statistiques sur le nombre de visiteurs de notre site qui s'intéressent réellement à notre
                        service
                        et, en tant que tel, c'est le type de données que ces cookies suivront. Ceci est important
                        pour vous
                        car cela signifie que nous pouvons faire des prévisions commerciales avec précision qui nous
                        permettent de surveiller nos coûts de publicité et de produits pour garantir le meilleur
                        prix
                        possible.</p>

                    <p class="p-cookie-sous-title">Plus d'informations</p>
                    <p class="p-cookie-plus">
                        Espérons que cela a clarifié les choses pour vous et, comme cela a été mentionné précédemment,
                        s'il
                        y a
                        quelque chose dont vous n'êtes pas sûr d'avoir besoin ou non, il est généralement plus sûr de
                        laisser les
                        cookies activés au cas où ils interagiraient avec l'une des fonctionnalités que vous utilisez
                        sur
                        notre
                        site.</p>
                    <p class="p-cookie-plus">Cependant, si vous recherchez toujours plus d'informations, vous pouvez nous
                        contacter via l'adresse
                        email suivante : <a href="mailto: adriz.agency@gmail.com" id="a-cookie-mail" class="a-cookie">adriz.agency@gmail.com</a>
                </div>
                <div id="div-input-cookie-plus" class="div-input-cookie grid-row-3-4">
                    <input id="accepte-plus-cookie" class="input-cookie-plus input-cookie-1" type="button"
                           value="Accepter">
                    <input id="refus-cookie" class="input-cookie-plus input-cookie-2" type="button"
                           value="Refuser">
                </div>
            </div>
        </div>
    </div>
</div>