<body>
{{>cookie}}
{{>header_all}}
<div id="equipe-container">
    <div id="header-creation" class="grid-row-1-2">
        <img id="img-creation"
             src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fcreation.jpg?alt=media&token=f6292f75-3a65-4b15-8721-9106f83681a8"
             alt="Création"/>
        <h1 id="h1-creation">L'équipe AdRiz</h1>
        <h2 id="h2-creation">La création</h2>
    </div>
    <div id="div-rennes" class="grid-row-2-3">
        <p id="p-rennes" class="grid-col-1-2">Originaires de la Bretagne, nous sommes deux amis d’enfance en provenance
            de Rennes.</p>
        <div id="div-img-rennes" class="grid-col-2-3">
            <img id="img-rennes" class="grid-col-2-3"
                 src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Frennes.jpg?alt=media&token=46c0ced0-acba-46e9-94aa-c6f4458ddab9"
                 alt="Rennes"/>
        </div>
    </div>
    <div id="div-etudes" class="grid-row-3-4">
        <p id="p-etudes">
            Ayant grandi ensemble, nous avons ensuite suivi une voie différente :<br/>
            - Lucas HERVOUET s’est formé en <span class="bold">informatique</span> et spécialisé en <span class="bold">analyse de données</span>
            à Nantes.<br/>
            - Julien WAISSE s’est orienté dans les études de <span class="bold">commercial / négociation</span> à Dinan.
        </p>
    </div>
    <div id="div-confiance" class="grid-row-4-5">
        <div id="div-img-confiance" class="grid-col-1-2">
            <img id="img-confiance"
                 src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fconfiance.jpg?alt=media&token=dee8d3e3-861c-4ec8-8d7f-495b56150ea6"
                 alt="Confiance et Objectifs commun"/>
        </div>
        <p id="p-confiance" class="grid-col-2-3">Chacun parti dans une direction différente, nous avons pourtant gardé
            une relation de confiance et des objectifs similaires.</p>
    </div>
    <div id="div-competence" class="grid-row-5-6">
        <p id="p-competence">C’est pourquoi nous avons lancé AdRiz dans l’objectif de travailler sur un projet commun
            qui combinait nos compétences respectives.</p>
    </div>
    <div id="header-presentation" class="grid-row-6-7">
        <img id="img-presentation"
             src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fpresentation.jpg?alt=media&token=e654f771-9ee2-4ad0-bc0d-141a3625efe9"
             alt="Présentation"/>
        <h1 id="h1-presentation">L'équipe AdRiz</h1>
        <h2 id="h2-presentation">Qui sommes nous ?</h2>
    </div>
    <div id="div-lucas" class="grid-row-7-8">
        <div id="presentation-lucas" class="grid-col-1-2">
            <h3 id="h3-lucas" class="grid-row-1-2">Lucas HERVOUET</h3>
            <h4 id="h4-lucas" class="grid-row-2-3">Co-Fondateur d'AdRiz</h4>
            <h5 id="h5-lucas" class="grid-row-4-5">Informaticien</h5>
            <a id="a-linkedin-lucas" class="a-linkedin grid-row-5-6">
                <img id="linkedin-lucas" class="logo-linkedin linkedin-fonce" src="images/linkedin-network.png"
                     alt="Mon profile LinkedIn"/>
                <img id="linkedin-lucas-claire" class="logo-linkedin linkedin-claire" src="images/linkedin-claire.png"
                     alt="Mon profile LinkedIn"/>
            </a>
        </div>
        <div id="div-img-lucas" class="grid-col-2-3">
            <img id="img-lucas"
                 src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Flucas.png?alt=media&token=1cfeb091-15ad-4f8c-9481-2fd407945c70"
                 alt="Lucas Hervouet">
        </div>
    </div>
    <div id="div-julien" class="grid-row-8-9">
        <div id="div-img-julien" class="grid-col-1-2">
            <img id="img-julien"
                 src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fjulien.jpg?alt=media&token=29411273-b31f-46c9-89d3-c7dfe9ad7f05"
                 alt="Julien Waisse">
        </div>
        <div id="presentation-julien" class="grid-col-2-3">
            <h3 id="h3-julien" class="grid-row-1-2">Julien WAISSE</h3>
            <h4 id="h4-julien" class="grid-row-2-3">Co-Fondateur d'AdRiz</h4>
            <h5 id="h5-julien" class="grid-row-4-5">Commercial, Négociateur</h5>
            <a id="a-linkedin-julien" class="a-linkedin grid-row-5-6">
                <img id="linkedin-julien" class="logo-linkedin linkedin-fonce" src="images/linkedin-network.png"
                     alt="Mon profile LinkedIn"/>
                <img id="linkedin-julien-claire" class="logo-linkedin linkedin-claire" src="images/linkedin-claire.png"
                     alt="Mon profile LinkedIn"/>
            </a>
        </div>
    </div>
    <div id="div-contacter" class="grid-row-9-10">
        <p id="p-contact" class="grid-row-1-2">Vous souhaitez en savoir davantage sur AdRiz et son équipe ?</p>
        <input id="button-contact" class="grid-row-2-3" type="button" value="Contactez-Nous !"/>
    </div>
</div>
{{>footer}}
</body>