<body>
    {{>header_all}}
    <div id="equipe-container">
        <div id="header-creation" class="grid-row-1-2">
            <img id="img-creation" src="images/creation.jpg" alt="Création"/>
            <h1 id="h1-creation" hidden>L'équipe AdRiz</h1>
            <h2 id="h2-creation" hidden>La création</h2>
        </div>
        <div id="div-rennes" class="grid-row-2-3" style="display: none">
            <p id="p-rennes" class="grid-col-1-2" hidden>Originaire de la Bretagne, nous sommes deux amis d’enfances en provenance de Rennes.</p>
            <div id="div-img-rennes" class="grid-col-2-3" style="display: none">
                <img id="img-rennes" class="grid-col-2-3" src="images/rennes.jpg" alt="Rennes"/>
            </div>
        </div>
        <div id="div-etudes" class="grid-row-3-4" style="display: none">
            <p id="p-etudes" hidden>
                Ayant fait notre primaire dans la même école, nous avons ensuite suivit une voie différente :<br/>
                - Lucas s’est spécialisé en <span class="bold">informatique</span> à Nantes.<br/>
                - Julien s’est orienté dans le <span class="bold">marketing / négociation</span> à Dinan.
            </p>
        </div>
        <div id="div-confiance" class="grid-row-4-5" style="display: none">
            <div id="div-img-confiance" class="grid-col-1-2">
                <img id="img-confiance" src="images/confiance.jpg" alt="Confiance et Objectifs commun"  />
            </div>
            <p id="p-confiance" class="grid-col-2-3" hidden>Chacun partit dans une direction différente, nous avons pourtant gardé une relation de confiance et des objectifs similaires.</p>
        </div>
        <div id="div-competence" class="grid-row-5-6" style="display: none">
            <p id="p-competence" hidden>C’est pourquoi nous avons lancé AdRiz dans l’objectif de travailler sur un projet  commun qui combinait nos compétences respectives.</p>
        </div>
        <div id="header-presentation" class="grid-row-6-7" style="display: none">
            <img id="img-presentation" src="images/presentation.jpg" alt="Présentation"/>
            <h1 id="h1-presentation" hidden>L'équipe AdRiz</h1>
            <h2 id="h2-presentation" hidden>Qui sommes nous ?</h2>
        </div>
        <div id="div-lucas" class="grid-row-7-8" style="display: none">
            <div id="presentation-lucas" class="grid-col-1-2">
                <h3 id="h3-lucas" class="grid-row-1-2" hidden>Lucas HERVOUET</h3>
                <h4 id="h4-lucas" class="grid-row-2-3" hidden>Co-Fondateur d'AdRiz</h4>
                <h5 id="h5-lucas" class="grid-row-4-5" hidden>Développeur Informatique</h5>
                <a class="a-linkedin grid-row-5-6" href="https://www.linkedin.com/in/hervouet-lucas/">
                    <img id="linkedin-lucas" class="logo-linkedin linkedin-fonce" src="images/linkedin-network.png" alt="Mon profile LinkedIn" hidden/>
                    <img id="linkedin-lucas-claire" class="logo-linkedin linkedin-claire" src="images/linkedin-claire.png" alt="Mon profile LinkedIn" hidden/>
                </a>
            </div>
            <div id="div-img-lucas" class="grid-col-2-3" style="display: none">
                <img id="img-lucas" src="images/lucas.png" alt="Lucas Hervouet">
            </div>
        </div>
        <div id="div-julien" class="grid-row-8-9" style="display: none">
            <div id="div-img-julien" class="grid-col-1-2" style="display: none">
                <img id="img-julien" src="images/julien.jpg" alt="Julien Waisse">
            </div>
            <div id="presentation-julien" class="grid-col-2-3">
                <h3 id="h3-julien" class="grid-row-1-2" hidden>Julien WAISSE</h3>
                <h4 id="h4-julien" class="grid-row-2-3" hidden>Co-Fondateur d'AdRiz</h4>
                <h5 id="h5-julien" class="grid-row-4-5" hidden>Marketeur, Commerciale</h5>
                <a class="a-linkedin grid-row-5-6" href="https://www.linkedin.com/in/julien-waisse-4318b41b4/">
                    <img id="linkedin-julien" class="logo-linkedin linkedin-fonce" src="images/linkedin-network.png" alt="Mon profile LinkedIn" hidden/>
                    <img id="linkedin-julien-claire" class="logo-linkedin linkedin-claire" src="images/linkedin-claire.png" alt="Mon profile LinkedIn" hidden/>
                </a>
            </div>
        </div>
<!--        <div id="div-video-presentation" class="grid-row-9-10" style="display: none">-->
<!--            <video id="video-equipe" poster="images/presentation.jpg" controls="controls">-->
<!--                <source src="videos/1_vid.mp4" type="video/mp4">-->
<!--            </video>-->
<!--        </div>-->
        <div id="div-contacter" class="grid-row-10-11">
            <p id="p-contact" class="grid-row-1-2" hidden>Vous souhaitez en savoir davantage sur AdRiz et son équipe ?</p>
            <input id="button-contact" class="grid-row-2-3" type="button" value="Contactez Nous !" hidden/>
        </div>
    </div>
    {{>footer}}
</body>