<footer>
    <div id="gradient-footer"></div>
    <div id="div-footer">
        <div id="div-suivre" class="grid-row-1-2">
            <h3 id="h3-footer" class="grid-row-1-2">Suivez Nous</h3>
            <hr id="hr-suivre" class="grid-row-2-3">
            <nav id="nav-reseaux-sociaux" class="grid-row-3-4">
                <a id="a-reseaux-youtube" class="a-reseaux">
                    <img id="img-reseaux-youtube-white" class="img-reseaux img-reseaux-white img-reseaux-youtube"
                         src="images/youtube-white.png" alt="YouTube"/>
                    <img id="img-reseaux-youtube-blue" class="img-reseaux img-reseaux-blue img-reseaux-youtube"
                         src="images/youtube-blue.png" alt="YouTube"/>
                </a>
                <a id="a-reseaux-facebook" class="a-reseaux">
                    <img id="img-reseaux-facebook-white" class="img-reseaux img-reseaux-white img-reseaux-facebook"
                         src="images/facebook-white.png" alt="Facebook"/>
                    <img id="img-reseaux-facebook-blue" class="img-reseaux img-reseaux-blue img-reseaux-facebook"
                         src="images/facebook-blue.png" alt="Facebook"/>
                </a>
                <a id="a-reseaux-linkedin" class="a-reseaux img-reseaux-linkedin">
                    <img id="img-reseaux-linkedin-white" class="img-reseaux img-reseaux-white img-reseaux-twitter"
                         src="images/linkedin-white.png" alt="LinkedIn"/>
                    <img id="img-reseaux-linkedin-blue" class="img-reseaux img-reseaux-blue img-reseaux-twitter"
                         src="images/linkedin-blue.png" alt="LinkedIn"/>
                </a>
                <a id="a-reseaux-twitter" class="a-reseaux img-reseaux-twitter">
                    <img id="img-reseaux-twitter-white" class="img-reseaux img-reseaux-white img-reseaux-twitter"
                         src="images/twitter-white.png" alt="Twitter"/>
                    <img id="img-reseaux-twitter-blue" class="img-reseaux img-reseaux-blue img-reseaux-twitter"
                         src="images/twitter-blue.png" alt="Twitter"/>
                </a>
            </nav>
        </div>
        <div id="div-nav-site" class="grid-row-2-3">
            <h3 id="h3-nav-site" class="grid-row-1-2">Voir Aussi</h3>
            <hr id="hr-nav-site" class="grid-row-2-3">
            <nav id="nav-site" class="grid-row-3-4">
                <a id="footer-accueil" class="a-site nav-site-gauche grid-row-1-2 grid-col-1-2">Accueil</a>
                <a id="footer-services" class="a-site nav-site-gauche grid-col-1-2">Services</a>
                <a id="footer-contact" class="a-site nav-site-gauche grid-row-4-5 grid-col-1-2">Contact</a>
                <span class="a-site nav-site-droite grid-row-1-2 grid-col-2-3">AdRiz</span>
                <a id="footer-agence" class="a-sous-site grid-row-2-3 grid-col-2-3">Agence</a>
                <a id="footer-equipe" class="a-sous-site grid-row-3-4 grid-col-2-3">Équipe</a>
                <a id="footer-rejoindre" href="/nous-rejoindre"
                   class="a-site nav-site-droite grid-row-4-5 grid-col-2-3">Nous Rejoindre</a>
            </nav>
        </div>
        <hr id="hr-footer">
        <div id="div-copyrigth">
            <p id="p-copyright" class="grid-col-1-2 grid-row-1-2">© 2020 - AdRiz.fr</p>
            <a id="a-mentions" class="grid-col-2-3 grid-row-1-2">Mentions Légales</a>
            <img id="adriz-footer" class="grid-col-3-4 grid-row-1-2" src="images/adriz-logo.png" loading="lazy"
                 alt="AdRiz"/>
        </div>
    </div>
</footer>