<footer>
    <div id="gradient-footer"></div>
    <div id="div-footer">
        <div id="div-suivre" class="grid-row-1-2">
            <h3 id="h3-footer" class="grid-row-1-2">Suivez Nous</h3>
            <hr id="hr-suivre" class="grid-row-2-3">
            <nav id="nav-reseaux-sociaux" class="grid-row-3-4">
                <a id="a-reseaux-youtube" class="a-reseaux" href="https://www.youtube.com/">
                    <img id="img-reseaux-youtube" class="img-reseaux" src="public/images/youtube-white.png" alt="YouTube"/>
                </a>
                <a id="a-reseaux-facebook" class="a-reseaux" href="https://www.facebook.com/">
                    <img id="img-reseaux-facebook" class="img-reseaux" src="public/images/facebook-white.png" alt="Facebook"/>
                </a>
                <a id="a-reseaux-linkedin" class="a-reseaux" href="https://www.linkedin.com/">
                    <img id="img-reseaux-linkedin" class="img-reseaux" src="public/images/linkedin-white.png" alt="LinkedIn"/>
                </a>
                <a id="a-reseaux-twitter" class="a-reseaux" href="https://twitter.com/">
                    <img id="img-reseaux-twitter" class="img-reseaux" src="public/images/twitter-white.png" alt="Twitter"/>
                </a>
            </nav>
        </div>
        <div id="div-nav-site" class="grid-row-2-3">
            <h3 id="h3-nav-site" class="grid-row-1-2">Voir Aussi</h3>
            <hr id="hr-nav-site" class="grid-row-2-3">
            <nav id="nav-site" class="grid-row-3-4">
                <a href="/" class="a-site nav-site-gauche grid-row-1-2 grid-col-1-2">Accueil</a>
                <a id="a-services" href="/services" class="a-site nav-site-gauche grid-col-1-2">Services</a>
                <a href="/contact" class="a-site nav-site-gauche grid-row-4-5 grid-col-1-2">Contact</a>
                <span class="a-site nav-site-droite grid-row-1-2 grid-col-2-3">AdRiz</span>
                <a href="/agence" class="a-sous-site grid-row-2-3 grid-col-2-3">Agence</a>
                <a href="/equipe" class="a-sous-site grid-row-3-4 grid-col-2-3">Équipe</a>
                <a href="/nous-rejoindre" class="a-site nav-site-droite grid-row-4-5 grid-col-2-3">Nous Rejoindre</a>
            </nav>
        </div>
        <hr id="hr-footer" class="">
        <div id="div-copyrigth" class="">
            <p id="p-copyright">© 2020 - AdRiz.fr</p>
            <img id="adriz-footer" src="public/images/adriz-logo.png" alt="AdRiz"/>
        </div>
    </div>
</footer>