<footer>
    <div id="gradient-footer"></div>
    <div id="div-footer">
        <h3 id="h3-footer" class="grid-row-1-2">Suivez Nous</h3>
        <nav id="nav-reseaux-sociaux" class="grid-row-2-3">
            <a id="a-reseaux-youtube" class="a-reseaux grid-col-1-2" href="https://www.youtube.com/">
                <img id="img-reseaux-youtube" class="img-reseaux" src="public/images/youtube-white.png" alt="YouTube"/>
            </a>
            <a id="a-reseaux-facebook" class="a-reseaux grid-col-2-3" href="https://www.facebook.com/">
                <img id="img-reseaux-facebook" class="img-reseaux" src="public/images/facebook-white.png" alt="Facebook"/>
            </a>
            <a id="a-reseaux-linkedin" class="a-reseaux grid-col-3-4" href="https://www.linkedin.com/">
                <img id="img-reseaux-linkedin" class="img-reseaux" src="public/images/linkedin-white.png" alt="LinkedIn"/>
            </a>
            <a id="a-reseaux-twitter" class="a-reseaux grid-col-4-5" href="https://twitter.com/">
                <img id="img-reseaux-twitter" class="img-reseaux" src="public/images/twitter-white.png" alt="Twitter"/>
            </a>
        </nav>
        <nav id="nav-site" class="grid-row-3-4">
            <a href="/" class="grid-col-1-2 a-site">Accueil</a>
            <a href="/services" class="grid-col-2-3 a-site">Services</a>
            <a href="/agence" class="grid-col-3-4 a-site">Agence</a>
            <a href="/contact" class="grid-col-4-5 a-site">Contact</a>
            <a href="/nous-rejoindre" class="grid-col-5-6 a-site">Nous Rejoindre</a>
        </nav>
        <hr id="hr-footer" class="grid-row-4-5">
        <div id="div-copyrigth" class="grid-row-5-6">
            <p id="p-copyright">© 2020 - AdRiz.fr</p>
            <img id="adriz-footer" src="public/images/adriz-logo.png" alt="AdRiz"/>
        </div>
    </div>
</footer>