<header>
    {{>menu}}
    <img id="menu" class="grid-col-1-2" src="images/menu-icon.png" alt="Menu"/>
    <div id="div-nav-header" class="grid-col-2-3 cursor grid-row-1-2">
        <nav id="nav-accueil" class="nav-header grid-col-1-2">
            <span id="span-accueil" class="span-header">
                Accueil
            </span>
        </nav>
        <nav id="nav-services" class="nav-header cursor grid-col-2-3">
            <span id="span-service" class="span-header">
                Services
            </span>
        </nav>
        <nav id="nav-adriz" class="nav-header grid-col-3-4">
            <span id="span-adriz" class="span-header">
                AdRiz
            </span>
            <nav id="nav-sous-adriz">
                <div id="div-span-agence" class="div-sous-adriz cursor grid-row-1-2">
                    <span id="span-agence" class="span-sous-adriz">
                        Agence
                    </span>
                </div>
                <div id="div-span-equipe" class="div-sous-adriz cursor grid-row-2-3">
                    <span id="span-equipe" class="span-sous-adriz">
                        Équipe
                    </span>
                </div>
            </nav>
        </nav>
        <nav id="nav-contact" class="nav-header cursor grid-col-4-5">
            <span id="span-contact" class="span-header">
                Contact
            </span>
        </nav>
        <nav id="nav-rejoindre" class="nav-header cursor grid-col-5-6">
            <span id="span-rejoindre" class="span-header">
                Nous Rejoindre
            </span>
        </nav>
    </div>
    <img id="adriz-header" class="grid-row-1-2" src="images/adriz-logo.png" alt="AdRiz"/>
</header>