<header>
    {{>menu}}
    <img id="menu" class="grid-col-1-2" src="public/images/menu-icon2.png" alt="Menu"/>
    <img id="adriz-header" class="grid-col-2-3" src="public/images/adriz-logo.png" alt="AdRiz"/>
</header>