<body>
{{>cookie}}
{{>header_all}}
<h1 id="h1-mentions">Mentions Légales</h1>
<p id="p-mentions-1" class="p-mention p-presentation-mention">En vigueur au ...</p> <!-- TODO : Compléter -->
<p id="p-mention-2" class="p-mention p-presentation-mention">Conformément aux dispositions des Articles 6-III et 19 de
    la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans
    l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site <a
            href='https://adriz.fr/' class="a-mention">https://adriz.fr/</a> les
    présentes mentions légales</p>
<p id="p-mention-3" class="p-mention p-presentation-mention">La connexion et la navigation sur le site AdRiz par
    l’Utilisateur implique acceptation intégrale
    et sans réserve des présentes mentions légales.</p>
<div id="div-container-mention">
    <h2 id="h2-editeur" class="h2-mention">ARTICLE 1 : L’éditeur</h2>
    <p id="p-editeur" class="p-mention p-article-mention">L’édition et la direction de la publication du site <a
            href="https://adriz.fr/" class="a-mention">https://adriz.fr/</a> est assurée par Lucas Hervouet.</p>
    <!-- TODO : Compléter -->
    <h2 id="h2-hebergeur" class="h2-mention h2-margin">ARTICLE 2 : L’hébergeur</h2>
    <p id="p-hebergeur" class="p-mention p-article-mention">L'hébergeur du site <a href="https://adriz.fr/"
                                                                                   class="a-mention">https://adriz.fr</a>
        est la Société Firebase, dont le siège social est situé au 188 King ST, San
        Francisco, CA 94107, United States, <a href="https://firebase.google.com/" class="a-mention">https://firebase.google.com/</a>.
    </p>
    <h2 id="h2-site" class="h2-mention h2-margin">ARTICLE 3 : Accès au site</h2>
    <p id="p-site-1" class="p-mention p-article-mention">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas
        de force majeure, interruption programmée ou non et
        pouvant découler d’une nécessité de maintenance.</p>
    <p id="p-site-2" class="p-mention p-article-mention">Lors de maintenance, l’accès au Site peut être interrompu ou
        suspendu par l’Éditeur du Site sans préavis ni justification.</p>
    <h2 id="h2-donnees" class="h2-mention h2-margin">ARTICLE 4 : Collecte des données</h2>
    <p id="p-donnees-1" class="p-mention p-article-mention">
        La collecte des informations est faite conformément à la loi n°78-17 du 6 janvier 1978 relative à
        l’informatique, aux
        fichiers et aux libertés, modifiée par l’ordonnance n° 2018-1125 du 12 décembre 2018 relative à la protection
        des données personnelles, et conformément à la réglementation européenne relative à la protection des données
        (RGPD), la collecte et le traitement d’informations personnelles s’effectuent dans le respect de la vie
        privée.</p>
    <p id="p-donnees-2" class="p-mention p-article-mention">En vertu de la loi Informatique et Libertés, en date du 6
        janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de
        ses données personnelles. L'Utilisateur exerce ce droit par mail à l'adresse mail <a
                href="mailto: adriz.agency@gmail.com" id="a-mention-mail"
                class="a-mention">adriz.agency@gmail.com</a></p>
    <p id="p-donnees-3" class="p-mention p-article-mention">Les données personnelles de l'Utilisateur susceptibles
        d'être récoltées lorsqu'il navigue sur le Site sont les suivantes :</p>
    <ul id="ul-donnees">
        <li id="li-donnees-1" class="li-mention p-article-mention">Les boutons sur lesquelles l'Utilisateur clique</li>
        <li id="li-donnees-2" class="li-mention p-article-mention">Les pages consultées par l'Utilisateur</li>
        <li id="li-donnees-3" class="li-mention p-article-mention">L'adresse email de l'Utilisateur *</li>
        <li id="li-donnees-4" class="li-mention p-article-mention">Le prénom et le nom de famille de l'Utilisateur *
        </li>
    </ul>
    <p id="p-donnees-4" class="p-mention p-article-mention">* Ces données ne sont collectées que lorsque l'Utilisateur
        remplit le formulaire de contact ou en s'inscrivant à la newsletter.</p>
    <h2 id="h2-cookies" class="h2-mention h2-margin">ARTICLE 5 : Cookies</h2>
    <p id="p-cookies-1" class="p-mention p-article-mention">L’Utilisateur est informé que lors de ses visites sur le
        site, un cookie peut s’installer automatiquement sur son
        logiciel de navigation.</p>
    <p id="p-cookies-3" class="p-mention p-article-mention">Un cookie est un élément qui ne permet pas d’identifier
        l’Utilisateur mais sert à enregistrer des informations
        relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par
        l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>
    <h2 id="h2-propriete" class="h2-mention h2-margin">ARTICLE 6 : Propriété intellectuelle</h2>
    <p id="p-propriete" class="p-mention p-article-mention">Toute utilisation, reproduction, diffusion,
        commercialisation, modification de toute ou partie du site <a
                href="https://adriz.fr/" class="a-mention">https://adriz.fr/</a>, sans autorisation de l’Editeur est
        prohibée et
        pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété
        intellectuelle et le Code civil.</p>
</div>
{{>footer}}
</body>