<div id="div-menu">
    <div id="div-nav-menu" class="grid-col-1-2">
        <img src="images/croix.png" id="button-close-menu" class="grid-row-1-2" alt=""/>
        <nav id="nav-menu" class="grid-row-2-3">
            <div id="div-nav-accueil" class="div-menu grid-row-1-2">
                <img id="img-accueil" class="img-menu grid-col-1-2" src="images/icon-accueil.png" alt="Accueil"/>
                <span id="span-accueil" class="span-menu grid-col-2-3">Accueil</span>
            </div>
            <div id="div-nav-services" class="div-menu grid-row-2-3">
                <img id="img-services" class="img-menu grid-col-1-2" src="images/icon-services.png" alt="Services"/>
                <span id="span-services" class="span-menu grid-col-2-3">Services</span>
            </div>
            <div id="div-nav-adriz" class="div-menu grid-row-3-4">
                <img id="img-adriz" class="img-menu grid-col-1-2" src="images/icon-id.png" alt="ID"/>
                <span id="span-adriz" class="span-menu grid-col-2-3">AdRiz</span>
            </div>
            <div id="div-sous-menu" class="grid-row-4-5">
                <div id="div-nav-agence" class="div-sous-menu">
                    <img id="img-agence" class="img-sous-menu grid-col-1-2" src="images/icon-agence.png" alt="Agence"/>
                    <span id="span-agence" class="span-sous-menu grid-col-2-3">Agence</span>
                </div>
                <div id="div-nav-equipe" class="div-sous-menu">
                    <img id="img-equipe" class="img-sous-menu grid-col-1-2" src="images/icon-equipe.png" alt="Équipe"/>
                    <span id="span-equipe" class="span-sous-menu grid-col-2-3">Équipe</span>
                </div>
            </div>
            <div id="div-nav-contact" class="div-menu grid-row-5-6">
                <img id="img-contact" class="img-menu grid-col-1-2" src="images/icon-contact.png" alt="Contact"/>
                <span id="span-contact" class="span-menu grid-col-2-3">Contact</span>
            </div>
            <div id="div-nav-rejoindre" class="div-menu grid-row-6-7">
                <img id="img-rejoindre" class="img-menu grid-col-1-2" src="images/icon-rejoindre.png"
                     alt="Nous Rejoindre"/>
                <span id="span-rejoindre" class="span-menu grid-col-2-3">Nous Rejoindre</span>
            </div>
        </nav>
    </div>
    <div id="div-close-menu" class="grid-col-2-3"></div>
</div>