<body>
    {{>header_all}}
    <div id="div-a-venir">
            <h1 id="h1-a-venir" class="grid-row-1-2">À venir...</h1>
            <p id="p-a-venir" class="grid-row-2-3">Notre agence SMM est en cours de développement. Il n'est pas encore possible de nous rejoindre.</p>
            <form id="form-newsletter-a-venir" class="grid-row-3-4">
                <label id="label-newsletter-a-venir" class="grid-row-1-2" for="input-email-newsletter-a-venir">Si vous souhaitez être mit au courant de toute l'actualité d'AdRiz, inscrivez vous à notre newsletter.</label>
                <input id="input-email-newsletter-a-venir" class="grid-row-2-3 grid-col-1-2" type="email" placeholder="Votre Adresse Email" maxlength="99" autocomplete="email" required>
                <input id="input-send-newsletter-a-venir" class="grid-row-2-3 grid-col-2-3" type="submit" value="Envoyer"/>
                <p id="validation-newsletter-a-venir" class="grid-row-3-4">Merci de vous être inscrit à la newsletter.</p>
                <p id="error-interne-newsletter-a-venir" class="error-newsletter grid-row-3-4">Vous êtes déjà inscrit à la newsletter.</p>
            </form>
            <div id="div-contact-a-venir" class="grid-row-4-5">
                <label for="input-contact-a-venir" id="label-contact-a-venir" class="grid-row-1-2">Si vous avez des questions sur nos activités, contactez-nous.</label>
                <input id="input-contact-a-venir" class="grid-row-2-3" value="Contacter">
            </div>
        </div>
    {{>footer}}
</body>