<body>
    {{>header_all}}
        <div id="div-a-venir">
            <h1 id="h1-a-venir" class="grid-row-1-2" hidden>À venir...</h1>
            <p id="p-a-venir" class="grid-row-2-3" hidden>Notre agence SMM est en cours de développement. Il n'est pas encore possible de nous rejoindre.</p>
            <div id="div-newsletter-a-venir" class="grid-row-3-4">
                <label id="label-newsletter-a-venir" class="grid-row-1-2" for="input-email-newsletter-a-venir" hidden>Si vous souhaitez être mit au courant de toute l'actualité d'AdRiz, inscrivez vous à notre newsletter.</label>
                <input id="input-email-newsletter-a-venir" class="grid-row-2-3 grid-col-1-2" type="text" placeholder="Votre Adresse Email" hidden/>
                <input id="input-send-newsletter-a-venir" class="grid-row-2-3 grid-col-2-3" type="button" value="Envoyer" hidden/>
                <p id="validation-newsletter-a-venir" class="grid-row-3-4" hidden>Merci de vous être inscrit à la newsletter.</p>
                <p id="error-mail-newsletter-a-venir" class="error-newsletter grid-row-3-4" hidden>Adresse mail incorrect.</p>
                <p id="error-interne-newsletter-a-venir" class="error-newsletter grid-row-3-4" hidden>Une erreure interne est survenue. Veuillez réessayer ultérieurement.</p>
            </div>
            <div id="div-contact-a-venir" class="grid-row-4-5">
                <label for="input-contact-a-venir" id="label-contact-a-venir" class="grid-row-1-2" hidden>Si vous avez des questions sur nos activités, contactez nous.</label>
                <input id="input-contact-a-venir" class="grid-row-2-3" value="Contacter" hidden>
            </div>
        </div>
    {{>footer}}
</body>