<body>
    {{>header_all}}
        <div id="comming-soon">
            <h1 id="title-coming-soon">À venir...</h1>
            <p>Notre agence SMMA est en cours de développement. Il n'est pas encore possible de nous rejoindre.</p>
            <p>Si vous souhaitez être mit au courant de toute l'actualité d'AdRiz, inscrivez vous à notre newsletter.</p>
            <p>Si vous avez des questions sur notre activité, contactez nous.</p>
        </div>
    {{>footer}}
</body>