<body>
{{>cookie}}
{{>header_all}}
<div id="header-service">
    <img id="img-header-service"
         src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fservices.png?alt=media&token=c360e64e-8520-492b-9bb7-32a2093e97c3"
         alt="Nos Services">
    <h1 id="h1-services">Nos Services</h1>
</div>
<div id="div-container-service">
    <div id="div-strategie">
        <h2 id="h2-strategie" class="h2-services grid-col-1-2">Élaboration d’une stratégie marketing digital</h2>
        <div id="div-texte-strategie" class="grid-col-1-2">
            <p id="p-strategie">La stratégie marketing est l’étape préliminaire. Nous discutons et analysons ensemble
                votre business. Il est important pour nous de se mettre en accord sur une stratégie qui vous convient
                avant de signer un contrat.</p>
        </div>
        <div id="div-container-strategie" class="grid-row-4-5 grid-col-1-2">
            <img id="img-strategie"
                 src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fstrategie.jpg?alt=media&token=c658ac4d-cfef-4ac2-8c09-4af005bb2385"
                 alt="Stratégie Marketing Digitale">
            <div id="div-objectifs" class="div-strategie-gauche div-strategie grid-row-1-2">
                <img id="cercle-objectifs" class="cercle-strategie cercle-strategie-gauche grid-col-1-2 grid-row-1-2"
                     src="images/cercle-fonce.png" alt="Cercle Objectifs">
                <img id="img-objectifs" class="icon-strategie icon-strategie-gauche grid-col-1-2 grid-row-1-2"
                     src="images/objectif-icon.png" alt="Objectifs">
                <p id="p-objectifs" class="p-strategie p-strategie-gauche grid-col-2-3">Mis en accord sur vos objectifs
                    à atteindre.</p>
            </div>
            <div id="div-faiblesses" class="div-strategie-droit div-strategie grid-row-2-3">
                <p id="p-faiblesses" class="p-strategie p-strategie-droit grid-col-1-2">Détection des faiblesses de
                    votre stratégie marketing actuelle (SEO, canaux de communication, publicités, ...).</p>
                <img id="cercle-faiblesses" class="cercle-strategie cercle-strategie-droit grid-col-2-3 grid-row-1-2"
                     src="images/cercle-claire.png" alt="Cercle Faiblesses">
                <img id="img-faiblesses" class="icon-strategie icon-strategie-droit grid-col-2-3 grid-row-1-2"
                     src="images/faiblesses-icon.png" alt="Faiblesses">
            </div>
            <div id="div-pack" class="div-strategie-gauche div-strategie grid-row-3-4">
                <img id="cercle-pack" class="cercle-strategie cercle-strategie-gauche grid-col-1-2 grid-row-1-2"
                     src="images/cercle-fonce.png" alt="Cercle Pack">
                <img id="img-pack" class="icon-strategie icon-strategie-gauche grid-col-1-2 grid-row-1-2"
                     src="images/amelioration-icon.png" alt="Objectifs">
                <p id="p-pack" class="p-strategie p-strategie-gauche grid-col-2-3">Proposition d’améliorations (SEO,
                    campagne marketing, présence sur les réseaux, ...).</p>
            </div>
            <div id="div-amelioration" class="div-strategie-droit div-strategie grid-row-4-5">
                <p id="p-amelioration" class="p-strategie p-strategie-droit grid-col-1-2">Proposition d’un pack adapté à
                    votre business et votre budget (Refonte de site, canaux de communication, ...).</p>
                <img id="cercle-amelioration" class="cercle-strategie cercle-strategie-droit grid-col-2-3 grid-row-1-2"
                     src="images/cercle-claire.png" alt="Cercle Amelioration">
                <img id="img-amelioration" class="icon-strategie icon-strategie-droit grid-col-2-3 grid-row-1-2"
                     src="images/pack-icon.png" alt="Ameliorations">
            </div>
        </div>
    </div>
    <div id="div-analyse">
        <p id="p-analyse" class="grid-row-1-2">Profitez dès maintenant d'un audit gratuit</p>
        <input id="input-analyse" class="grid-row-2-3" type="button" value="J'en Profite">
    </div>
    <div id="div-campagne">
        <h2 id="h2-campagne" class="h2-services grid-col-1-2">Élaboration d’une campagne publicitaire</h2>
        <div id="div-texte-campagne" class="grid-col-1-2">
            <p id="p-campagne">La campagne publicitaire est mise en place dès la clôture du contrat. Notre équipe se
                charge de segmenter vos cibles, de développer les pages webs, les emails et les publicités adaptées à
                votre entreprise et vos objectifs.</p>
        </div>
        <div id="div-container-campagne" class="grid-row-4-5 grid-col-1-2">
            <img id="img-campagne"
                 src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/images%2Fpresentation.jpg?alt=media&token=e654f771-9ee2-4ad0-bc0d-141a3625efe9"
                 alt="Stratégie Marketing Digitale">
            <div id="div-segmentation" class="div-campagne-gauche div-campagne grid-row-1-2">
                <img id="cercle-segmentation" class="cercle-campagne cercle-campagne-gauche grid-col-1-2 grid-row-1-2"
                     src="images/cercle-claire.png" alt="Cercle Objectifs">
                <img id="img-segmentation" class="icon-campagne icon-campagne-gauche grid-col-1-2 grid-row-1-2"
                     src="images/segmentation-icon.png" alt="Objectifs">
                <p id="p-segmentation" class="p-campagne p-campagne-gauche grid-col-2-3">Segmentation de vos
                    prospects.</p>
            </div>
            <div id="div-pub" class="div-campagne-droit div-campagne grid-row-2-3">
                <p id="p-pub" class="p-campagne p-campagne-droit grid-col-1-2">Création de publicités pour chaque canal
                    et adaptées à vos cibles.</p>
                <img id="cercle-pub" class="cercle-campagne cercle-campagne-droit grid-col-2-3 grid-row-1-2"
                     src="images/cercle-fonce.png" alt="Cercle Faiblesses">
                <img id="img-pub" class="icon-campagne icon-campagne-droit grid-col-2-3 grid-row-1-2"
                     src="images/pub-icon.png" alt="Faiblesses">
            </div>
            <div id="div-funnel" class="div-campagne-gauche div-campagne grid-row-3-4">
                <img id="cercle-funnel" class="cercle-campagne cercle-campagne-gauche grid-col-1-2 grid-row-1-2"
                     src="images/cercle-claire.png" alt="Cercle Pack">
                <img id="img-funnel" class="icon-campagne icon-campagne-gauche grid-col-1-2 grid-row-1-2"
                     src="images/funnel-icon.png" alt="Objectifs">
                <p id="p-funnel" class="p-campagne p-campagne-gauche grid-col-2-3">Mise en place de tunnels de vente
                    avec comme objectif de fidéliser vos clients.</p>
            </div>
            <div id="div-performance" class="div-campagne-droit div-campagne grid-row-4-5">
                <p id="p-performance" class="p-campagne p-campagne-droit grid-col-1-2">Mise à jour de la campagne après
                    l’analyse de performance mensuelle.</p>
                <img id="cercle-performance" class="cercle-campagne cercle-campagne-droit grid-col-2-3 grid-row-1-2"
                     src="images/cercle-fonce.png" alt="Cercle Amelioration">
                <img id="img-performance" class="icon-campagne icon-campagne-droit grid-col-2-3 grid-row-1-2"
                     src="images/performance-icon.png" alt="Ameliorations">
            </div>
        </div>
    </div>
    <div id="div-inbound">
        <div id="div-gif-inbound">
            <video id="video-inbound" autoplay loop playsinline muted>
                <source id="gif-inbound"
                        src="https://firebasestorage.googleapis.com/v0/b/adriz-test.appspot.com/o/videos%2Finbound.mp4?alt=media&token=a3497f87-4d22-49da-8a8a-b60643450959"
                        type="video/mp4"/>
            </video>
        </div>
    </div>
    <div id="div-automatisation">
        <h2 id="h2-automatisation" class="h2-services grid-col-1-2">Automatisation</h2>
        <div id="div-texte-automatisation" class="grid-col-1-2">
            <p id="p-automatisation">
                AdRiz est la première SMMA sur le marché ne dépendant quasiment d'aucune autre plateforme. En effet, le
                mailing, les tunnels de vente, les campagnes marketings, etc. sont totalement développés par notre
                équipe.
                <br><br>
                Cela a pour avantage d'automatiser l'acquisition de clients tout en réduisant considérablement vos coûts
                afin de ne comptabiliser que les coûts publicitaires liés aux canaux payants.
            </p>
        </div>
    </div>
    <div id="div-question">
        <p id="p-question" class="grid-col-1-2">Des questions ?</p>
        <input id="input-question" type="button" value="Nous Contacter">
    </div>
</div>
{{>footer}}
</body>