<body>
{{>header_all}}
<div id="header-service">
    <img id="img-header-service" src="public/images/services.png" alt="Nos Services" hidden>
    <h1 id="h1-services" hidden>Nos Services</h1>
</div>
<div id="div-container-service">
    <div id="div-strategie">
        <h2 id="h2-strategie" class="h2-services grid-col-1-2" hidden>Élaboration d’une stratégie marketing digitale</h2>
        <div id="div-texte-strategie" class="grid-col-1-2" hidden>
            <p id="p-strategie" hidden>La stratégie marketing est l’étape préliminaire. Nous discutons et analysons ensemble votre business. Il est important pour nous de se mettre en accord sur une stratégie qui vous convient avant de signer un contrat.</p>
        </div>
        <div id="div-container-strategie" class="grid-row-4-5 grid-col-1-2">
            <img id="img-strategie" src="public/images/strategie.jpg" alt="Stratégie Marketing Digitale" hidden>
            <div id="div-objectifs" class="div-strategie-gauche div-strategie grid-row-1-2" style="display: none">
                <img id="cercle-objectifs" class="cercle-strategie cercle-strategie-gauche grid-col-1-2 grid-row-1-2" src="public/images/cercle-fonce.png" alt="Cercle Objectifs">
                <img id="img-objectifs" class="icon-strategie icon-strategie-gauche grid-col-1-2 grid-row-1-2" src="public/images/objectif-icon.png" alt="Objectifs">
                <p id="p-objectifs" class="p-strategie p-strategie-gauche grid-col-2-3" hidden>Mis en accord sur vos objectifs à atteindre</p>
            </div>
            <div id="div-faiblesses" class="div-strategie-droit div-strategie grid-row-2-3" style="display: none">
                <p id="p-faiblesses" class="p-strategie p-strategie-droit grid-col-1-2" hidden>Détection des faiblesses de votre stratégie marketing actuelle ( SEO, canaux de communication, publicités, ... )</p>
                <img id="cercle-faiblesses" class="cercle-strategie cercle-strategie-droit grid-col-2-3 grid-row-1-2" src="public/images/cercle-claire.png" alt="Cercle Faiblesses">
                <img id="img-faiblesses" class="icon-strategie icon-strategie-droit grid-col-2-3 grid-row-1-2" src="public/images/faiblesses-icon.png" alt="Faiblesses">
            </div>
            <div id="div-pack" class="div-strategie-gauche div-strategie grid-row-3-4" style="display: none">
                <img id="cercle-pack" class="cercle-strategie cercle-strategie-gauche grid-col-1-2 grid-row-1-2" src="public/images/cercle-fonce.png" alt="Cercle Pack">
                <img id="img-pack" class="icon-strategie icon-strategie-gauche grid-col-1-2 grid-row-1-2" src="public/images/pack-icon.png" alt="Objectifs">
                <p id="p-pack" class="p-strategie p-strategie-gauche grid-col-2-3" hidden>Proposition d’un pack adapté à votre business et votre budget ( Canaux de communication )</p>
            </div>
            <div id="div-amelioration" class="div-strategie-droit div-strategie grid-row-4-5" style="display: none">
                <p id="p-amelioration" class="p-strategie p-strategie-droit grid-col-1-2" hidden>Proposition d’améliorations ( SEO, communication, présence sur les réseaux, … )</p>
                <img id="cercle-amelioration" class="cercle-strategie cercle-strategie-droit grid-col-2-3 grid-row-1-2" src="public/images/cercle-claire.png" alt="Cercle Amelioration">
                <img id="img-amelioration" class="icon-strategie icon-strategie-droit grid-col-2-3 grid-row-1-2" src="public/images/amelioration-icon.png" alt="Ameliorations">
            </div>
        </div>
    </div>
    <div id="div-analyse">
        <p id="p-analyse" class="grid-row-1-2" hidden>Proffitez dès maintenant d'un edit gratuit</p>
        <input id="input-analyse" class="grid-row-2-3" type="button" value="Je Proffite" hidden>
    </div>
    <div id="div-campagne">
        <h2 id="h2-campagne" class="h2-services grid-col-1-2" hidden>Élaboration d’une campagne publicitaire</h2>
        <div id="div-texte-campagne" class="grid-col-1-2" hidden>
            <p id="p-campagne" hidden>Dès la cloture du contrat, nous mettons en place la campagne publicitaire. Notre équipe se charge de développer les différentes pages webs, emails et publicités adaptés à votre business et vos objectifs.</p>
        </div>
        <div id="div-container-campagne" class="grid-row-4-5 grid-col-1-2">
            <img id="img-campagne" src="public/images/presentation.jpg" alt="Stratégie Marketing Digitale" hidden>
            <div id="div-segmentation" class="div-campagne-gauche div-campagne grid-row-1-2" style="display: none">
                <img id="cercle-segmentation" class="cercle-campagne cercle-campagne-gauche grid-col-1-2 grid-row-1-2" src="public/images/cercle-claire.png" alt="Cercle Objectifs">
                <img id="img-segmentation" class="icon-campagne icon-campagne-gauche grid-col-1-2 grid-row-1-2" src="public/images/segmentation-icon.png" alt="Objectifs">
                <p id="p-segmentation" class="p-campagne p-campagne-gauche grid-col-2-3" hidden>Segmentation de vos prospects</p>
            </div>
            <div id="div-pub" class="div-campagne-droit div-campagne grid-row-2-3" style="display: none">
                <p id="p-pub" class="p-campagne p-campagne-droit grid-col-1-2" hidden>Création de publicités pour chaque canal et adapté au type de prospect</p>
                <img id="cercle-pub" class="cercle-campagne cercle-campagne-droit grid-col-2-3 grid-row-1-2" src="public/images/cercle-fonce.png" alt="Cercle Faiblesses">
                <img id="img-pub" class="icon-campagne icon-campagne-droit grid-col-2-3 grid-row-1-2" src="public/images/pub-icon.png" alt="Faiblesses">
            </div>
            <div id="div-funnel" class="div-campagne-gauche div-campagne grid-row-3-4" style="display: none">
                <img id="cercle-funnel" class="cercle-campagne cercle-campagne-gauche grid-col-1-2 grid-row-1-2" src="public/images/cercle-claire.png" alt="Cercle Pack">
                <img id="img-funnel" class="icon-campagne icon-campagne-gauche grid-col-1-2 grid-row-1-2" src="public/images/funnel-icon.png" alt="Objectifs">
                <p id="p-funnel" class="p-campagne p-campagne-gauche grid-col-2-3" hidden>Mis en place de funnels de vente avec comme objetifs de fidéliser les clients</p>
            </div>
            <div id="div-performance" class="div-campagne-droit div-campagne grid-row-4-5" style="display: none">
                <p id="p-performance" class="p-campagne p-campagne-droit grid-col-1-2" hidden>Mis à jour de la campagne après l’analyse de performance mensuelle</p>
                <img id="cercle-performance" class="cercle-campagne cercle-campagne-droit grid-col-2-3 grid-row-1-2" src="public/images/cercle-fonce.png" alt="Cercle Amelioration">
                <img id="img-performance" class="icon-campagne icon-campagne-droit grid-col-2-3 grid-row-1-2" src="public/images/performance-icon.png" alt="Ameliorations">
            </div>
        </div>
    </div>
    <div id="div-inbound" hidden>
        <img id="gif-inbound" src="/public/videos/inbound.gif" alt="Inbound Marketing"/>
    </div>
    <div id="div-automatisation">
        <h2 id="h2-automatisation" class="h2-services grid-col-1-2" hidden>Automatisation</h2>
        <div id="div-texte-automatisation" class="grid-col-1-2" hidden>
            <p id="p-automatisation" hidden>
                AdRiz est la première SMMA sur le marché ne dépendant quasiment d’aucune autre plateforme. En effet, l’emailing, les funnels de vente, la collecte des données, etc. ont totalement été développés par notre équipe.
                <br><br>
                Cela à pour avantage d’automatiser l’acquisition de clients tout en réduisant considérablement vos coûts afin de ne comptabiliser que les frais de publicités liés aux canaux payant.
            </p>
        </div>
    </div>
    <div id="div-question">
        <p id="p-question" class="grid-col-1-2" hidden>Des questions ?</p>
        <input id="input-question" type="button" value="Nous Contacter" hidden>
    </div>
</div>
{{>footer}}
</body>